.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
Pipfile.lock
env3.*
env
venv
.venv
.DS_Store
.env
pyvenv.cfg
source/migration_logs.txt
source/static_root
source/.env
env.django
bin
lib
.scannerwork
source/error.log
source/debug.log
source/info.log

*.sqlite3

*.log
