# Pytest
PYTEST_DIR_NAME=pytest_dir

# Django
DJANGO_SETTINGS_MODULE=personal_accounting.settings

# Django superuser
DJANGO_SUPERUSER_PASSWORD=

# Current Django Project name
DJANGO_PROJECT_NAME=personal_accounting
SOURCE_FOLDER=source

# Auto generated values
# Django secret key
SECRET_KEY=

# Redis settings
REDIS_PASSWORD=NHcKbX4I4*8areeIeQqe7Is4cnY3qB
REDIS_PORT=6379
REDIS_HOST=accounting-cache

ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost:8080
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# Postgres db container name
POSTGRES_HOST=accounting-postgres
POSTGRES_PORT=5432


LOGIN_REDIRECT_URL=/admin/
LOGIN_REDIRECT_CUSTOM_URL=/custom_admin/

# custom logging
ENABLE_CUSTOM_LOGGING=True