# environment settings
DEBUG=True
DEPLOYMENT_SERVER=False

# django secret key
DJANGO_SECRET_KEY="django-secret-key"

# user verification
ENABLE_USER_VERIFICATION=True
EMAIL_CODE_LENGTH=6

# email settings (use gmail account and application password) https://myaccount.google.com/apppasswords
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587
FROM_EMAIL=
EMAIL_USE_TLS=True
# fn23t09gnzxmas9u password django noreply
# Run Celery in sync mode (for local development)
CELERY_WORK_SYNC

# Auth
LOGIN_REDIRECT_URL=/
LOGIN_URL=/admin/login/

# OAUTH settings
ENABLE_OAUTH=True
ENABLE_FACEBOOK_OAUTH=False
ENABLE_GOOGLE_OAUTH=True

SOCIAL_AUTH_FACEBOOK_KEY=key
SOCIAL_AUTH_FACEBOOK_SECRET=key
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
# convert our base token into jwt format [NOT NEEDED]
ACTIVATE_JWT=False

# Postgres Settings
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# Postgres db container name
POSTGRES_HOST=accounting-postgres
POSTGRES_PORT=5432


# custom logging
ENABLE_CUSTOM_LOGGING=True
LOGGING_DEBUG=True
DJANGO_PROJECT_NAME=personal_accounting

# localhost urls
CORS_ALLOWED_ORIGINS=http://localhost:8001,http://127.0.0.1:8001
REDIS_HOST=accounting-cache
REDIS_PORT=6379

OIDC_RSA_PRIVATE_KEY="" # create using command "openssl genrsa -out oidc.key 4096"
